.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.classNamesCard{
  position:absolute;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ingredients-list{
  list-style: none;
  float:left;
}

.previewText{
  font-size:small;
}

image {
  cursor:pointer;
}

.App-link {
  color: #61dafb;
}

.drink-id{
  color:gray;
  font-size: small;
  margin: -10px;
  align-items: right;
}
.card-text{
  font-size:x-large;
  font-weight: bold;
  color:black
}

.btn{
  padding: 10px;
  justify-content: center;
}

.CardText{
  font-size:medium;
  font-weight: lighter;
}

/*.Drink{
  max-width: 30%;
}

.List-Container{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.Cocktail-Header{
  float: left;
}

.Cocktail-List-Items{
  list-style: none;
}*/


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
